---
import { TestimonialTabs } from '@/components/index/testimonials/TestimonialTabs.tsx'
import WhatClientsSayBg from '@/assets/what-clients-say-bg.svg'
---

<section class="relative">
  <div
    class="py-36 flex flex-col items-center justify-center mx-auto w-full sm:max-w-5xl px-2 overflow-x-clip gap-10 sm:gap-22"
  >
    <h2
      class="font-extrabold text-center text-4xl md:text-8xl leading-10 md:leading-20 tracking-[0%] uppercase"
    >
      What clients say
    </h2>
    <TestimonialTabs client:visible />
  </div>
  <WhatClientsSayBg class="absolute right-0 h-full top-28 -z-10" />
</section>
