@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "tailwindcss-react-aria-components";

/* Register Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Italic.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

/* CSS reset, extends the base layer provided by tailwindCSS */
@layer base {
  /* 1. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 2. Add accessible line-height */
    line-height: 1.5;
    /* 3. Improve text rendering */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* 4. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 5. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 6. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  * {
    scrollbar-color: oklch(0.556 0 0) transparent;
    scrollbar-width: thin;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);
  --color-button-primary: var(--button-primary);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: oklch(0.07 0 0);
  --foreground: oklch(0.97 0 0);
  --primary: oklch(0.91 0.1496 188.55);
  --secondary: oklch(0.81 0.1385 193.02);
  --foreground-secondary: oklch(0.85 0 0);
  --foreground-muted: oklch(0.77 0 0);
  --button-primary: oklch(0.8796 0.2247 150.94);
  --font-sans: Montserrat, sans-serif;
  --font-mono: Source Code Pro, monospace;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none ring-1 ring-foreground;
  }
}

@layer components {
  .header {
    background: linear-gradient(
      180deg,
      rgba(4, 5, 6, 0.56) 0%,
      rgba(4, 5, 6, 0.4) 100%
    );
    outline: 2px solid rgba(245, 245, 245, 0.08);
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  }

  .menu {
    background: linear-gradient(
      180deg,
      rgba(4, 5, 6, 0.64) 0%,
      rgba(4, 5, 6, 0.4) 100%
    );
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  }
}
