---
const offices = [
  {
    area: 'Asia',
    location: 'Kuala Lumpur',
    phoneNumber: '+60 3 2789 9038',
    email: 'my@growthops.asia',
    address:
      'Level 11, Block B, Plaza Zurich, No. 12, Jalan Gelenggang, Bukit Damansara, 50490 Kuala Lumpur, Malaysia',
  },
  {
    area: 'Asia',
    location: 'Manila',
    phoneNumber: '+63 2 7586 4771',
    email: 'man@growthops.asia',
    address:
      'KMC Solutions, 5F V Corporate Center, L.P. Leviste, Salcedo Village, Makati City 1227',
  },
  {
    area: 'Asia',
    location: 'Hong Kong',
    phoneNumber: '+852 2805 9009',
    email: 'hkg@growthops.asia',
    address: '29/F, Infinitus Plaza, 199 Des Voeux Road Central, Hong Kong',
  },
  {
    area: 'Asia',
    location: 'Singapore',
    phoneNumber: '+65 6220 8383',
    email: 'sg@growthops.asia',
    address: '1 Neil Rd, #02-02, Singapore 088804',
  },
  {
    area: 'Middle East',
    location: 'United Arab Emirates',
    address: 'Building 1, Unit B304, Dubai Design District',
  },
]
---

<section class="sm:px-20 px-6 flex flex-col gap-10 sm:gap-12 relative">
  <div class="flex flex-col gap-6 items-center justify-center">
    <h2
      class="font-extrabold text-5xl lg:text-8xl leading-12 lg:leading-20 uppercase"
    >
      Our offices
    </h2>
  </div>
</section>
