<h2
  class="font-extrabold text-center text-4xl lg:text-8xl leading-10 lg:leading-20 tracking-[0%] uppercase"
>
  <span
    class="relative bg-clip-text bg-gradient-to-r from-[#004CBA] via-[#19B2A7] to-[#FDD196] text-transparent"
    ><svg
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-3/4"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1100 100"
    >
      <ellipse
        rx="550"
        ry="50"
        cx="550"
        cy="50"
        class="fill-transparent stroke-primary stroke-1"></ellipse>
    </svg>Unforgettable</span
  ><br />Results
</h2>
