---
import Circles from '@/components/index/masthead/Circles.astro'
---

<section
  class="relative h-dvh flex items-center justify-center w-full overflow-x-clip overflow-y-visible sm:mb-96"
>
  <Circles />
  <div
    class="w-full xl:max-w-6xl max-w-sm px-6 flex flex-col gap-1 xl:gap-7 font-extrabold text-3xl xl:text-8xl leading-[100%] xl:leading-20 tracking-[-2%] uppercase"
  >
    <h1>Your new-breed,</h1>
    <h1 class="self-end">end-to-end</h1>
    <h1 class="xl:ml-28">digital ally</h1>
    <p
      class="xl:hidden font-medium text-sm leading-5 normal-case w-60 self-end mt-4"
    >
      We are an <span>award-winning marketing transformation</span> partner delivering
      <span class="font-bold italic">unforgettable</span> digital brands, experiences
      and technology.
    </p>
  </div>
</section>
