---
import Heading from '@/components/index/client-logos/Heading.astro'
import RowOne from '@/components/index/client-logos/RowOne.astro'
import RowTwo from '@/components/index/client-logos/RowTwo.astro'
import RowThree from '@/components/index/client-logos/RowThree.astro'
---

<section
  class="relative overflow-x-hidden flex flex-col gap-16 xl:gap-24 min-h-dvh items-center justify-center"
>
  <Heading />
  <div class="flex flex-col items-center gap-16">
    <RowOne />
    <RowTwo />
    <RowThree />
  </div>
</section>
