---
import Heading from '@/components/index/client-logos/Heading.astro'
import Rows from '@/components/index/client-logos/Rows.astro'
---

<section
  class="relative overflow-x-hidden flex flex-col gap-16 xl:gap-24 min-h-dvh items-center justify-center"
>
  <Heading />
  <div class="flex flex-col items-center gap-9 sm:gap-16">
    <Rows />
  </div>
</section>
