<h2
  class="font-extrabold text-center text-4xl lg:text-8xl leading-10 lg:leading-24 tracking-[0%] uppercase px-6"
>
  <span
    class="relative bg-clip-text bg-gradient-to-r from-[#9747FF] to-[#96BFFD] text-transparent"
    ><svg
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 350 100"
    >
      <ellipse
        rx="175"
        ry="50"
        cx="175"
        cy="50"
        class="fill-transparent stroke-[#9747FF] stroke-1"></ellipse>
    </svg>Super</span
  > proud to work with
</h2>
