---
import UobLogo from '@/assets/uob-logo.svg'
import ToyotaLogo from '@/assets/toyota-logo.svg'
import PosbLogo from '@/assets/posb-logo.svg'
import SinglifeLogo from '@/assets/singlife-logo.svg'
import AmwayLogo from '@/assets/amway-logo.svg'
import FitnessFirstLogo from '@/assets/fitness-first-logo.svg'
import SonyLogo from '@/assets/sony-logo.svg'
import XrvisionLogo from '@/assets/xrvision-logo.svg'
import CrownLogo from '@/assets/crown-logo.svg'
import AiaLogo from '@/assets/aia-logo.svg'
import WwfLogo from '@/assets/wwf-logo.svg'

const items = [
  { src: UobLogo.src, alt: 'UOB Logo' },
  { src: ToyotaLogo.src, alt: 'Toyota Logo' },
  { src: PosbLogo.src, alt: 'POSB Logo' },
  { src: SinglifeLogo.src, alt: 'Singlife Logo' },
  { src: AmwayLogo.src, alt: 'Amway Logo' },
  { src: FitnessFirstLogo.src, alt: 'Fitness First Logo' },
  { src: SonyLogo.src, alt: 'Sony Logo' },
  { src: XrvisionLogo.src, alt: 'XRVision Logo' },
  { src: CrownLogo.src, alt: 'Crown Logo' },
  { src: AiaLogo.src, alt: 'AIA Logo' },
  { src: WwfLogo.src, alt: 'WWF Logo' },
]
---

<div class="overflow-clip w-dvw flex mask-x-from-80% mask-x-to-100%">
  {
    items.map((item, index, arr) => (
      <img
        class="row1-logo"
        style={`--index: ${index}; --count: ${arr.length};`}
        src={item.src}
        alt={item.alt}
      />
    ))
  }
</div>

<style>
  .row1-logo {
    --duration: 17s;
    --delay: calc(
      (var(--duration) / var(--count)) *
        (var(--index, 0) - (var(--count) * 0.5))
    );
    animation: slide var(--duration) calc(var(--delay) - (var(--count) * 0.5s))
      infinite linear;
    translate: var(--origin-x) 0;
    --origin-x: calc(((var(--count) - var(--index)) + 1) * 100%);
    --destination-x: calc((var(--index) + 1) * -100%);
  }

  @keyframes slide {
    100% {
      translate: var(--destination-x) 0;
    }
  }
</style>
